@charset "UTF-8";

@font-face {
  font-family: 'objectivebold_italic';
  src: url('../font/objective-bold-italic-webfont.woff2') format('woff2');
}

$black: #000000;
$lightblack: #262626;
$lightblack-transparent: rgba(38, 38, 38, .91);
$white: #FFFFFF;
$green: #7AD6BB;
$lightgray: #F2F2F2;
$gray: #DEDEDE;
$darkgray: #707070;

$breakpoint: 600px;

html {
  font-size: 62.5%;;
}
body {
  font-family: 'objectivebold_italic', sans-serif;
  color: $black;
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
}

.big-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper {
  &-1 {
    max-width: (1026/1280)*100vw;
    margin: 0 auto;
  }

  &-2 {
    max-width: (720/1280)*100vw;
    margin: 0 auto;
  }

  &-3 {
    max-width: (816/1280)*100vw;
    margin: 0 auto;
  }

  @media (max-width: $breakpoint) {
    &-1 {
      width: auto;
      padding: 0 20px 0 20px;
      margin: 0;
      max-width: none;
    }

    &-2 {
      width: auto;
      padding: 0 20px 0 20px;
      margin: 0;
      max-width: none;
    }

    &-3 {
      width: auto;
      padding: 0 20px 0 20px;
      margin: 0;
      max-width: none;
    }
  }
}

header {
  padding: 36px 0 0 36px;

  strong {
    font-size: 2.0rem;
    color: $white;
  }
}

.home {
  min-height: 100vh;
  position: relative;
  
  &-video {
    width: 100%;
    height: calc(514px + ((1vw - 6px) * 9.411));
    position: absolute;
    top: 0;
    z-index: -1;

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  h1 {
    color: $green;
    font-size: calc(90px + ((1vw - 6px) * 5.588));
    line-height: 1.2;
    margin-top: calc(350px + ((1vw - 6px) * 4.412));
  }

  @media (max-width: $breakpoint) {
    &-video {
      height: 450px;
    }

    h1 {
      font-size: 5.2rem;
      margin-top: 335px;
    }
  }
}

.greeting {
  h2 {
    margin: (253/1280)*100vw 0 0 0;
    font-size: 3.2rem;
    text-align: center;
  }

  p {
    font-size: 2.0rem;
    margin: 40px 0 0 0;
  }

  @media (max-width: $breakpoint) {
    h2 {
      font-size: 2.2rem;
    }

    p {
      font-size: 1.6rem;
    }
  }
}

.greenbox {
  &-coding {
    background: $green;
    width: 65%;
    height: (452/1280)*100vw;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  &-designpage {
    background: $green;
    width: 65%;
    height: (452/1280)*100vw;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  &-fig {
    background: $green;
    width: 51%;
    height: (313/1280)*100vw;
    margin-left: 8%;   
  }

  &-coffee {
    background: $green;
    width: 51%;
    height: (313/1280)*100vw;
    position: absolute;
    top: (300/1280)*100vw;
    left: 32%;
    z-index: 1;
  }

  @media (max-width: $breakpoint) {
    &-fig {
      position: absolute;
      top: (150/375)*100vw;
      height: (160/375)*100vw;
      margin-left: 20%;
      z-index: 1;
    }
  }
}

.portfolio {
  margin: 0;
  display: inline-block;
  color: $white;
  font-size: 30.0rem;
  line-height: 0.6;
  writing-mode: vertical-rl;
  position: absolute;
  top: -(220/1280)*100vw;
  left: 0;
  z-index: 2;

  @media (max-width: $breakpoint) {
    font-size: 20.0rem;
  }
}

.number {
  &-coding {
    font-size: 10.0rem;
    margin-left: 8%;
    margin-right: 8%;
  }

  &-designpage {
    font-size: 10.0rem;
    margin-left: 8%;
    margin-right: 1.5%;
  }

  &-other {
    font-size: 10.0rem;
    margin-left: 9%;
    margin-right: 6%;
  }

  &-coffee {
    font-size: 10.0rem;
    margin-left: 6%;
    margin-right: 4%;
  }

  @media (max-width: $breakpoint) {
    &-coding {
      font-size: 7.5rem;
    }

    &-designpage {
      font-size: 7.5rem;
    }

    &-other {
      font-size: 7.5rem;
    }

    &-coffee {
      font-size: 7.5rem;
    }
  }
}

.unit {
  font-size: 1.6rem;
}

.skill {
  background: $lightgray;
  margin-top: (300/1280)*100vw;
  padding-top: (162/1280)*100vw;
  padding-bottom: (239/1280)*100vw;
  text-align: center;

  h2 {
    font-size: 6.4rem;
    margin: 0;
    position: relative;
    display: inline-block;

    &:after {
      content: 'Skills';
      color: $lightgray;
      -webkit-text-stroke: 1px $green;
      position: absolute;
      bottom: 3px;
      left: 3px;
      z-index: -1;
    }
  }

  &-coding {
    margin-top: (116/1280)*100vw;
    padding-top: (90/1280)*100vw;
    text-align: left;
    position: relative;

    &-content {
      position: relative;
      z-index: 3;

      h3 {
        font-size: 3.2rem;
        font-weight: normal;
        margin:  0;
        padding-left: 10%;
      }

      figure {
        display: flex;
        justify-content: space-between;
        margin: (85/1280)*100vw 0 0 0;
      }

      img {
        width: 48%;
        height: (350/1280)*100%;
      }

      figcaption {
        font-size: 1.6rem;
        width: 40%;
      }
    }
  }

  &-designpage {
    margin-top: (244/1280)*100vw;
    padding-top: (90/1280)*100vw;
    text-align: left;
    position: relative;

    &-content {
      position: relative;
      z-index: 3;

      h3 {
        font-size: 3.2rem;
        font-weight: normal;
        margin:  0;
        text-align: right;
      }

      figure {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        margin: (85/1280)*100vw 0 0 0;
      }

      img {
        width: 48%;
        height: (350/1280)*100%;
      }

      figcaption {
        font-size: 1.6rem;
        width: 40%;
      }
    }
  }

  @media (max-width: $breakpoint) {
    h2 {
      font-size: 4.8rem;
    }

    &-coding {
      &-content {
        h3 {
          font-size: 2.2rem;
          padding-left: 0;
          text-align: center;
        }

        figure {
          flex-direction: column;
        }
        
        img {
          width: 100%;
          height: auto;
        }

        figcaption {
          margin-top: 25px;
          font-size: 1.4rem;
          width: 100%;
        }
      }
    }

    &-designpage {
      &-content {
        h3 {
          font-size: 2.2rem;
          padding-left: 0;
          text-align: center;
        }

        figure {
          flex-direction: column;
        }
        
        img {
          width: 100%;
          height: auto;
        }

        figcaption {
          margin-top: 25px;
          font-size: 1.4rem;
          width: 100%;
        }
      }
    }
  }
}

.works {
  padding-top: (212/1280)*100vw;
  padding-bottom: (97/1280)*100vw;
  text-align: center;
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    background: $darkgray;
    position: absolute;
    top: 0;
    left: calc(-9% + (12px + ((1vw - 6px) * 0.882))*1.5);
  }

  h2 {
    font-size: 6.4rem;
    position: relative;
    display: inline-block;
    margin: 0;

    &:before {
      content: 'Recent works';
      display: block;
      text-align: center;
      color: $green;
      text-shadow: none;
      font-size: 2.0rem;
      margin-bottom: 34px;
    }

    &:after {
      content: 'Works';
      color: $white;
      -webkit-text-stroke: 1px $green;
      position: absolute;
      bottom: 3px;
      left: 3px;
      z-index: -1;
    }
  }

  &-contents {
    margin-top: (92/1280)*100vw;
    text-align: left;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  &-content {
    margin-bottom: (158/1280)*100vw;
    position: relative;

    &:before {
      content: "";
      background: $white;
      width: calc(12px + ((1vw - 6px) * 0.882));
      height: calc(12px + ((1vw - 6px) * 0.882));
      border: calc(12px + ((1vw - 6px) * 0.882)) solid $green;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: -9%;
      bottom: 0;
      margin: auto;
    }

    &:last-child {
      margin: 0;
    }

    figure {
      display: flex;
      justify-content: space-between;
      margin: 0;
    }

    p {
      margin: 29px 0 0 0;
      font-size: 1.6rem;

      &:first-child {
        margin: 0;
        background: $gray;
        font-size: 3.4rem;
        width: 48%;
        height: (335/1280)*100vw;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    figcaption {
      width: 48%;
    }

    time {
      font-size: 3.2rem;
    }  
  }

  &-aside {
    margin-top: (114/1280)*100vw;
    text-align: left;

    h3 {
      font-size: 3.2rem;
      font-weight: normal;
      margin: 0;
    }

    p {
      font-size: 1.6rem;
      margin: 23px 0 0 0;
    }
  }

  @media (max-width: $breakpoint) {
    &:before {
      content: none;
    }

    h2 {
      font-size: 4.8rem;

      &:before {
        font-size: 1.6rem;
        margin-bottom: 10px;
      }
    }

    &-content {
      &:before {
        content: none;
      }

      figure {
        flex-direction: column;
      }

      p {
        font-size: 1.4rem;
        margin-top: 20px;

        &:first-child {
          font-size: 2.4rem;
          width: 100%;
          height: (200/375)*100vw;
        }
      }

      figcaption {
        width: 100%;
        margin-top: 25px;
      }

      time {
        font-size: 2.2rem;
      }
    }

    &-aside {
      h3 {
        font-size: 2.4rem;
        text-align: center;
      }

      p {
        font-size: 1.4rem;
      }
    }
  }
}

.other {
  padding-top: (242/1280)*100vw;
  padding-bottom: (202/1280)*100vw;
  background: $lightgray;

  &-title {
    font-size: 3.2rem;
    font-weight: normal;
    text-align: right;  
  }

  &-contents {
    margin-top: (121/1280)*100vw;

    &-main {
      position: relative;

      &-detail {
        margin: 0 0 0 25px;
        display: flex;
        justify-content: space-between;
        position: absolute;
    
        img {
          width: 32%;
        }
    
        figcaption {
          margin-left: 8%;
          margin-right: 20%;
          font-size: 1.6rem;
        }
      }

      &-fig {
        padding-top: (186/1280)*100vw;
  
        &-1 {
          margin: 0;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
  
          img {
            width: 35%;
            height: (252/1280)*100vw;
          }
        }
  
        &-2 {
          margin: 0;
          width: 28%;
          position: absolute;
          top: (373/1280)*100vw;
          left: 21%;
        }
      }
    }

    &-coffee {
      margin-top: (152/1280)*100vw;
      position: relative;

      figure {
        margin: 0;
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 2;
      }

      img {
        &:first-child {
          margin-top: (182/1280)*100vw;
          width: 51%;
          height: (313/1280)*100vw;
        }

        &:last-child {
          margin-right: 10%;
          width: 35%;
          height: (252/1280)*100vw;
        }
      }

      h3 {
        font-size: 3.2rem;
        font-weight: normal;
        text-align: right;
        margin: 0 4% 0 0;
        position: relative;
        z-index: 2;
      }

      p {
        margin: (77/1280)*100vw 11% 0 30%;
        font-size: 1.6rem;
        position: relative;
        z-index: 2;
      }
    }
  }

  @media (max-width: $breakpoint) {
    &-title {
      font-size: 2.2rem;
      text-align: center;
    }

    &-contents {
      &-main {
        &-detail {
          margin: 0;
          flex-direction: column;
          position: relative;
          z-index: 2;

          img {
            width: 60%;
            margin-left: 20px;
          }

          figcaption {
            margin-top: (25/375)*100vw;
            margin-left: 20px;
            margin-right: 20px;
            font-size: 1.4rem;
          }
        }

        &-fig {
          padding-top: 0;

          &-1 {
            img {
              position: absolute;
              top: (280/375)*100vw;
              right: 20px;
              z-index: 2;
            }
          }

          &-2 {
            margin-top: (30/375)*100vw;
            margin-left: 10px;
            width: 50%;
            position: relative;
            top: 0;
            left: 0;
            z-index: 2;
          }
        }
      }

      &-coffee {
        h3 {
          font-size: 2.2rem;
          text-align: center;
        }

        p {
          margin: 15px 0 0 0;
          font-size: 1.4rem;
        }
      }
    }
  }
}

.history {
  padding-top: (274/1280)*100vw;
  padding-bottom: (128/1280)*100vw;
  text-align: center;

  h2 {
    font-size: 6.4rem;
    display: inline-block;
    position: relative;
    margin: 0;

    &:after {
      content: 'History';
      color: $white;
      -webkit-text-stroke: 1px $green;
      position: absolute;
      bottom: 3px;
      left: 3px;
      z-index: -1;
    }
  }

  table {
    margin-top: (116/1280)*100vw;
    font-size: 1.6rem;
    text-align: left;
  }

  tr {
    padding-top: 35px;
    vertical-align: top;
  }

  th {
    color: $green;
    width: 22%;
    text-align: right;
    border-top: 2px solid $green;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  td {
    display: block;
    margin-left: 25px;
    border-top: 2px solid $darkgray;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  @media (max-width: $breakpoint) {
    h2 {
      font-size: 4.8rem;
    }

    table {
      font-size: 1.4rem;
    }

    th {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    td {
      margin-left: 5px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

.myvalue {
  &-heading {
    padding-top: (226/1280)*100vw;
    padding-bottom: (142/1280)*100vw;
    background: $lightblack;

    h2 {
      margin: 0;
      font-size: 2.0rem;
      color: $green;
      text-align: center;
    }

    p {
      margin-top: 34px;
      color: $white;
      font-size: 4.0rem;
    }
  }

  &-fig {
    margin: 0;
    width: 100%;
    overflow: hidden;

    img {
      width: (733/1280)*100vw;
    }
  }

  &-detail {
    padding-top: (206/1280)*100vw;
    padding-bottom: (217/1280)*100vw;
    background-image: url(../img/mia-baker-15q2ZCDbQFU-unsplash@2x.jpg);
    position: relative;

    &:after {
      content: '';
      background: $lightblack-transparent;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    p {
      margin: 0;
      font-size: 1.6rem;
      color: $white;
      position: relative;
      z-index: 2;
    }
  }

  @media (max-width: $breakpoint) {
    &-heading {
      h2 {
        font-size: 1.6rem;
      }
  
      p {
        font-size: 2.0rem;
      }
    }

    &-detail {
      p {
        font-size: 1.4rem;
      }
    }
  }
}

footer {
  background: $green;
  height: 346px;
  padding-top: (300/1280)*100vw;

  p {
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
  }

  @media (max-width: $breakpoint) {
    height: 200px;

    p {
      font-size: 1.2rem;
    }
  }
}