@font-face {
  font-family: 'objectivebold_italic';
  src: url("objective-bold-italic-webfont.woff2") format("woff2"), url("objective-bold-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "objectivebold_italic", sans-serif;
  color: #000000;
  background: #C4CCEB;
  padding: 0;
  margin: 0;
}
